body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*Hero*/
  
  .hero {
    background-color: #2e2f42;
    padding: 188px 0;
  }

  .section-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

    .btn:hover,
    :focus {
      background-color: #404BBF;
    }

    /*Service*/


  .service {
    background: #f4f4fd;
    padding: 120px 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
   white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .service-list {
    padding: 120px, 156px;
    display: flex;
    align-items: center;
    display: flex;
    gap: 24px;
  }

  .section-item {
    width: calc((100%-72px)/4);
  }

  .section-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .section-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
 /*Team*/

  .team {
    background-color: #F4F4FD;
    padding: 120px 0;
  }

 .container {
  padding: 120 0;
 } 
  .section-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-bottom: 72px;
  }

  .section-service {
    text-align: center;
    margin-bottom: 8px;
  }

  .section-text {
    text-align: center;
  }

  .my-image-class {
    display: block;
  }

  /*Portfolio*/

  .portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
  }

  .portfolio-list {
    display: flex;
    align-items: center;
    padding: 232px, 156px, 120px, 156px;
    row-gap: 24px;
    column-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;
  }
  .portfolio-item{
    width: calc((100% - 48px) / 3);
  }

  .container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    display: flex;
    gap: 24px;
  }

  .team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px)/4);
  }

  .container-taam {
    padding: 32px 0;
    text-align: center;
    }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  
  /*Footer*/

  .section-footer {
    ont-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
  }

  .page-footer {
    background: #2e2f42;
    padding: 100px 0;
  }

  .logo footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }